body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:970px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:960px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:442px;
  top:33px;
  width:97px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:10px;
  top:70px;
  width:960px;
  height:560px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:560px;
}
#u5 {
  position:absolute;
  left:2px;
  top:272px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:50px;
  top:140px;
  width:290px;
  height:470px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:470px;
}
#u7 {
  position:absolute;
  left:2px;
  top:227px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:50px;
  top:140px;
  width:90px;
  height:90px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u9 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:150px;
  top:140px;
  width:90px;
  height:90px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u11 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:250px;
  top:140px;
  width:90px;
  height:90px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u13 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:50px;
  top:267px;
  width:90px;
  height:90px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u15 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:150px;
  top:267px;
  width:90px;
  height:90px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u17 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:250px;
  top:267px;
  width:90px;
  height:90px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u19 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:50px;
  top:393px;
  width:90px;
  height:90px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u21 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:150px;
  top:393px;
  width:90px;
  height:90px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u23 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:250px;
  top:393px;
  width:90px;
  height:90px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u25 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:50px;
  top:520px;
  width:90px;
  height:90px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u27 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:150px;
  top:520px;
  width:90px;
  height:90px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u29 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:250px;
  top:520px;
  width:90px;
  height:90px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u31 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:182px;
  top:120px;
  width:25px;
  height:29px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:430px;
  top:130px;
  width:180px;
  height:380px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:380px;
}
#u35 {
  position:absolute;
  left:2px;
  top:182px;
  width:176px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:610px;
  top:150px;
  width:340px;
  height:333px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:333px;
}
#u37 {
  position:absolute;
  left:2px;
  top:158px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:470px;
  top:510px;
  width:100px;
  height:30px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:680px;
  top:180px;
  width:20px;
  height:30px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:720px;
  top:180px;
  width:20px;
  height:30px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:760px;
  top:180px;
  width:20px;
  height:30px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:800px;
  top:180px;
  width:20px;
  height:30px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:840px;
  top:180px;
  width:20px;
  height:30px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:628px;
  top:188px;
  width:39px;
  height:15px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:680px;
  top:232px;
  width:20px;
  height:30px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:720px;
  top:232px;
  width:20px;
  height:30px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u55 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:760px;
  top:232px;
  width:20px;
  height:30px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:800px;
  top:232px;
  width:20px;
  height:30px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u59 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:840px;
  top:232px;
  width:20px;
  height:30px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u61 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:628px;
  top:240px;
  width:27px;
  height:15px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:680px;
  top:285px;
  width:20px;
  height:30px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u65 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:720px;
  top:285px;
  width:20px;
  height:30px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u67 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:760px;
  top:285px;
  width:20px;
  height:30px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u69 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:800px;
  top:285px;
  width:20px;
  height:30px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u71 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:840px;
  top:285px;
  width:20px;
  height:30px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u73 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:628px;
  top:293px;
  width:39px;
  height:15px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:680px;
  top:337px;
  width:20px;
  height:30px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u77 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:720px;
  top:337px;
  width:20px;
  height:30px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u79 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:760px;
  top:337px;
  width:20px;
  height:30px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u81 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:800px;
  top:337px;
  width:20px;
  height:30px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u83 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:840px;
  top:337px;
  width:20px;
  height:30px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u85 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:628px;
  top:345px;
  width:52px;
  height:15px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:680px;
  top:390px;
  width:20px;
  height:30px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u89 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:720px;
  top:390px;
  width:20px;
  height:30px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u91 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:760px;
  top:390px;
  width:20px;
  height:30px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u93 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:800px;
  top:390px;
  width:20px;
  height:30px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u95 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:840px;
  top:390px;
  width:20px;
  height:30px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u97 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:628px;
  top:398px;
  width:52px;
  height:15px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:830px;
  top:565px;
  width:100px;
  height:25px;
}
#u100_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u101 {
  position:absolute;
  left:876px;
  top:180px;
  width:64px;
  height:29px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:29px;
}
#u102 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:876px;
  top:233px;
  width:64px;
  height:29px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:29px;
}
#u104 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:876px;
  top:285px;
  width:64px;
  height:29px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:29px;
}
#u106 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:876px;
  top:338px;
  width:64px;
  height:29px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:29px;
}
#u108 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:876px;
  top:391px;
  width:64px;
  height:29px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:29px;
}
#u110 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
