<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>purplecoin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>purplecoin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{75,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>purplecoin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,81},{53,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{53,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>purplecoin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{27,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{27,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>purplecoin5.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,160},{53,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{53,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>purplecoin6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{73,77}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{73,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>purplecoin.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50ba38ae016265a2d66cf0069224d135$</string>
            <key>textureFileName</key>
            <string>purplecoin.png</string>
        </dict>
    </dict>
</plist>
