body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:970px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:960px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:426px;
  top:43px;
  width:65px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:100px;
  top:90px;
  width:780px;
  height:560px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:560px;
}
#u5 {
  position:absolute;
  left:2px;
  top:272px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:140px;
  top:120px;
  width:310px;
  height:80px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:80px;
}
#u7 {
  position:absolute;
  left:2px;
  top:32px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:160px;
  top:135px;
  width:50px;
  height:50px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:228px;
  top:134px;
  width:44px;
  height:18px;
  font-size:14px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:228px;
  top:152px;
  width:52px;
  height:15px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:228px;
  top:177px;
  width:52px;
  height:15px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:490px;
  top:120px;
  width:310px;
  height:80px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:80px;
}
#u17 {
  position:absolute;
  left:2px;
  top:32px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:510px;
  top:135px;
  width:50px;
  height:50px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u19 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:578px;
  top:134px;
  width:44px;
  height:18px;
  font-size:14px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:578px;
  top:152px;
  width:52px;
  height:15px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:578px;
  top:177px;
  width:52px;
  height:15px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:140px;
  top:215px;
  width:310px;
  height:80px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:80px;
}
#u27 {
  position:absolute;
  left:2px;
  top:32px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:160px;
  top:230px;
  width:50px;
  height:50px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u29 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:228px;
  top:229px;
  width:44px;
  height:18px;
  font-size:14px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:228px;
  top:247px;
  width:52px;
  height:15px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:228px;
  top:272px;
  width:52px;
  height:15px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:140px;
  top:310px;
  width:310px;
  height:80px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:80px;
}
#u37 {
  position:absolute;
  left:2px;
  top:32px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:160px;
  top:325px;
  width:50px;
  height:50px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u39 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:228px;
  top:324px;
  width:44px;
  height:18px;
  font-size:14px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:228px;
  top:342px;
  width:52px;
  height:15px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:228px;
  top:367px;
  width:52px;
  height:15px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:140px;
  top:405px;
  width:310px;
  height:80px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:80px;
}
#u47 {
  position:absolute;
  left:2px;
  top:32px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:160px;
  top:420px;
  width:50px;
  height:50px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u49 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:228px;
  top:419px;
  width:44px;
  height:18px;
  font-size:14px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:228px;
  top:437px;
  width:52px;
  height:15px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:228px;
  top:462px;
  width:52px;
  height:15px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:140px;
  top:500px;
  width:310px;
  height:80px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:80px;
}
#u57 {
  position:absolute;
  left:2px;
  top:32px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:160px;
  top:515px;
  width:50px;
  height:50px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u59 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:228px;
  top:514px;
  width:44px;
  height:18px;
  font-size:14px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:228px;
  top:532px;
  width:52px;
  height:15px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:228px;
  top:557px;
  width:52px;
  height:15px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:490px;
  top:215px;
  width:310px;
  height:80px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:80px;
}
#u67 {
  position:absolute;
  left:2px;
  top:32px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:510px;
  top:229px;
  width:50px;
  height:50px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u69 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:578px;
  top:229px;
  width:44px;
  height:18px;
  font-size:14px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:578px;
  top:247px;
  width:52px;
  height:15px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:578px;
  top:271px;
  width:52px;
  height:15px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:490px;
  top:310px;
  width:310px;
  height:80px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:80px;
}
#u77 {
  position:absolute;
  left:2px;
  top:32px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:510px;
  top:325px;
  width:50px;
  height:50px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u79 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:578px;
  top:324px;
  width:44px;
  height:18px;
  font-size:14px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:578px;
  top:342px;
  width:52px;
  height:15px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:578px;
  top:367px;
  width:52px;
  height:15px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:490px;
  top:405px;
  width:310px;
  height:80px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:80px;
}
#u87 {
  position:absolute;
  left:2px;
  top:32px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:510px;
  top:420px;
  width:50px;
  height:50px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u89 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:578px;
  top:419px;
  width:44px;
  height:18px;
  font-size:14px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:578px;
  top:437px;
  width:52px;
  height:15px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:578px;
  top:462px;
  width:52px;
  height:15px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:490px;
  top:500px;
  width:310px;
  height:80px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:80px;
}
#u97 {
  position:absolute;
  left:2px;
  top:32px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:510px;
  top:515px;
  width:50px;
  height:50px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u99 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:578px;
  top:514px;
  width:44px;
  height:18px;
  font-size:14px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:578px;
  top:532px;
  width:52px;
  height:15px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:578px;
  top:557px;
  width:52px;
  height:15px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:842px;
  top:50px;
  width:60px;
  height:57px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:57px;
}
#u107 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:852px;
  top:59px;
  width:40px;
  height:40px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u109 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
